name: SmallRye Build

on:
  push:
    branches: 
      - main
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'
  pull_request:
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11, 14]
    name: Build with jdk ${{matrix.java}}

    steps:
      - uses: actions/checkout@v2
        name: checkout

      - uses: AdoptOpenJDK/install-jdk@v1
        name: set up jdk ${{matrix.java}}
        with:
          version: ${{matrix.java}}
          source: 'releases'

      - name: Build with maven
        run: mvn -B clean formatter:validate verify --file pom.xml

  quality:
    needs: [build]
    if: github.event_name == 'push' && github.repository_owner == 'smallrye'
    runs-on: ubuntu-latest
    name: quality

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: AdoptOpenJDK/install-jdk@v1
        with:
          java-version: 11
          source: 'releases'

      - name: Coverage and Sonar
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
        run: mvn -B clean verify --file pom.xml -Pcoverage javadoc:javadoc sonar:sonar -Dsonar.projectKey=smallrye_smallrye-opentelemetry-sdk -Dsonar.login=$SONAR_TOKEN
